@model ItCompany.Models.Dto.IndexDto

<div class="culmn">
    <header id="main_menu" class="header navbar-fixed-top">
        <div class="main_menu_bg">
            <div class="container">
                <div class="row">
                    <div class="nave_menu">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <!-- Brand and toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <a class="navbar-brand" href="#home">
                                        <img src="/Site/assets/images/logo.png" />
                                    </a>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                    <ul class="nav navbar-nav navbar-left">
                                        <li><a href="#home">صفحه اصلی</a></li>
                                        <li><a href="#history">درباره ما</a></li>
                                        <li><a href="#portfolio">نمونه کارها</a></li>
                                        <li><a href="#pricing">قیمت ها</a></li>
                                        <li><a href="#team">تیم ما</a></li>
                                        <li><a href="#contact">تماس با ما</a></li>
                                    </ul>


                                </div>

                            </div>
                        </nav>
                    </div>
                </div>

            </div>

        </div>
    </header> <!--End of header -->
    <!--home Section -->
    <section id="home" class="home">
        <div class="overlay">
            <div class="home_skew_border">
                <div class="container">
                    <div class="row" dir="ltr">
                        <div class="col-sm-12 ">
                            <div class="main_home_slider text-center">
                               @foreach (var item in Model.Slides)
                               {
                                   <div class="single_home_slider">
                                       <div class="main_home wow fadeInUp" data-wow-duration="700ms">
                                           <h2>@item.Title</h2>
                                           <div class="separator"></div>
                                           <p>@item.Description</p>
                                       </div>
                                   </div>
                               }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="scrooldown">
                    <a href="#feature"><i class="fa fa-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </section><!--End of home section -->
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!--feature section -->
    <section id="feature" class="feature sections">
        <div class="container">
            <div class="row">
                <div class="main_feature text-center">

                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon">
                                <i class="fa fa-clone"></i>
                            </div>

                            <h4>طراحی چشم نواز</h4>
                            <div class="separator3"></div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ. لورم ایپسوم متن ساختگی با تولید سادگی.</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon">
                                <i class="fa fa-heart-o"></i>
                            </div>

                            <h4>کدنویسی حرفه ای</h4>
                            <div class="separator3"></div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ. لورم ایپسوم متن ساختگی با تولید سادگی.</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon">
                                <i class="fa fa-lightbulb-o"></i>
                            </div>
                            <h4>ایده های خلاقانه</h4>
                            <div class="separator3"></div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ. لورم ایپسوم متن ساختگی با تولید سادگی.</p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="single_feature">
                            <div class="single_feature_icon">
                                <i class="fa fa-comments-o"></i>
                            </div>

                            <h4>پشتیبانی رایگان</h4>
                            <div class="separator3"></div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ. لورم ایپسوم متن ساختگی با تولید سادگی.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div><!--End of container -->
    </section><!--End of feature Section -->
    <hr />
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!-- History section -->
    <section id="history" class="history sections">
        <div class="container">
            <div class="row">
                <div class="main_history">
                    <div class="col-sm-6">
                        <div class="single_history_img">
                            <img src="/Site/assets/images/stab1.png" alt="" />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="single_history_content">
                            <div class="head_title">
                                <h2>تاریخچه ما</h2>
                            </div>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. </p>

                            <a href="" class="btn btn-lg">مرور کار ما</a>
                        </div>
                    </div>
                </div>
            </div><!--End of row -->
        </div><!--End of container -->
    </section><!--End of history -->
    <!-- service Section -->
    <section id="service" class="service">
        <div class="container-fluid">
            <div class="row">
                <div class="main_service">
                    <div class="col-md-6 col-sm-12 no-padding">

                        <div class="single_service single_service_text text-right">
                            <div class="head_title">
                                <h2>خدمات ما</h2>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                    <div class="row">

                                        <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                            <article class="single_service_left_text">
                                                <h4>طراحی وب</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برا</p>
                                            </article>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                            <figure class="single_service_icon">
                                                <i class="fa fa-heart"></i>
                                            </figure><!-- End of figure -->
                                        </div>
                                    </div>
                                </div><!-- End of col-sm-12 -->

                                <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                    <div class="row">

                                        <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1">
                                            <article class="single_service_left_text">
                                                <h4>طراحی چاپ</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای</p>
                                            </article>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                            <figure class="single_service_icon">
                                                <i class="fa fa-heart"></i>
                                            </figure><!-- End of figure -->
                                        </div>
                                    </div>
                                </div><!-- End of col-sm-12 -->

                                <div class="col-md-12 col-sm-10 col-xs-10 margin-bottom-60">
                                    <div class="row">

                                        <div class="col-sm-10 col-sm-offset-1 col-xs-9 col-xs-offset-1 margin-bottom-20">
                                            <article class="single_service_left_text">
                                                <h4>عکاسی</h4>
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و</p>
                                            </article>
                                        </div>
                                        <div class="col-sm-1 col-xs-1">
                                            <figure class="single_service_icon">
                                                <i class="fa fa-heart"></i>
                                            </figure><!-- End of figure -->
                                        </div>
                                    </div>
                                </div><!-- End of col-sm-12 -->

                            </div>
                        </div>
                    </div><!-- End of col-sm-6 -->

                    <div class="col-md-6 col-sm-12 no-padding">
                        <figure class="single_service single_service_img">
                            <div class="overlay-img"></div>
                            <img src="/Site/assets/images/servicerightimg.jpg" alt="" />
                        </figure><!-- End of figure -->
                    </div><!-- End of col-sm-6 -->

                </div>
            </div><!-- End of row -->
        </div><!-- End of Container-fluid -->
    </section><!-- End of service Section -->
    <section id="portfolio" class="portfolio sections">
        <div class="container-fluid">
            <div class="row">
                <div class="main_portfolio">
                    <div class="col-sm-12">
                        <div class="head_title text-center">
                            <h2>نمونه کارها</h2>
                            <div class="subtitle">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            </div>
                            <div class="separator"></div>
                        </div>
                    </div>
                    <div class="work_menu text-center">
                        <div id="filters" class="toolbar mb2 mt2">
                            <button class="btn-md fil-cat filter active" data-filter="all">همه</button>/
                            @foreach (var item in Model.ProductGroups)
                            {
                                <button class="btn-md fil-cat filter" data-rel="@item.Id" data-filter=".@item.Id">@item.Title /</button>
                            }
                           
                        </div>

                    </div>
                    <div style="clear:both;"></div>
                    <div id="portfoliowork">
                        @foreach(var item in Model.ProductGroups)
                         {
                            @foreach (var product in item.Products)
                             {
                                <div class="single_portfolio tile scale-anm grid-item-width2 @item.Id">
                                    <img src="/Images/@product.ImageName" alt="@product.Title"/>
                                    <a href="/Images/@product.ImageName" class="portfolio-img">
                                        <div class="grid_item_overlay">
                                            <div class="separator4"></div>
                                            <h3>@product.Title</h3>
                                        </div>
                                    </a>
                                </div>
                             }
                         }
                    </div>

                    <div style="clear:both;"></div>
                </div>
            </div>
        </div><!-- End off container -->
    </section> <!-- End off Work Section -->
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!-- Study Section -->
    <section id="study" class="study text-center wow fadeIn" data-wow-duration="2s" data-wow-dealy="1.5s">
        <div class="container">
            <div class="row">
                <div class="main_study_area sections">
                    <div class="head_title text-center">
                        <h2>بررسی نمونه کار</h2>
                        <div class="subtitle">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                        </div>
                        <div class="separator"></div>
                    </div>
                  @foreach (var item in Model.ProductGroups)
                  {
                      @foreach (var product in item.Products)
                      {
                          <div class="single_study_content">
                              <div class="col-sm-6">
                                  <div class="single_study_slid_area">
                                      <div class="single_study_text" dir="ltr">
                                          <div class="study_slider">
                                              <div class="item">
                                                  <div class="s_study_icon">
                                                      <i class="fa fa-lightbulb-o"></i>
                                                  </div>
                                                  <h4>@product.Title</h4>
                                                  <div class="separator3"></div>
                                                  <p>@product.Description</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="single_study_left_img">
                                  <div class="col-sm-6">
                                      <div class="single_study_img">
                                          <img src="/Images/@product.ImageName" alt="@product.Title" />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      }
                  }
                </div>
            </div><!-- End off row -->
        </div><!-- End off Container -->
    </section><!-- End off Study Section -->
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!-- Counter Section -->
    <section id="counter" class="counter">
        <div class="video_overlay">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="main_counter_area text-center">

                            <div class="row">
                                <div class="single_counter border_left">
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_counter_item">
                                            <i class="icon icon-thumbs-up"></i>
                                            <h2 class="statistic-counter">3891</h2>
                                            <h4 class="">علاقه مندی های کاربر</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="single_counter">
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_counter_item">
                                            <i class="icon icon-business-3"></i>
                                            <h2 class="statistic-counter">281</h2>
                                            <h4 class="">پست ها در 24 ساعت گذشته</h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="single_counter">
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_counter_item">
                                            <i class="icon icon-people-32"></i>
                                            <h2 class="statistic-counter">618</h2>
                                            <h4 class="">مجموع پست ها</h4>
                                        </div>

                                    </div>
                                </div>

                                <div class="single_counter">
                                    <div class="col-sm-3 col-xs-12">
                                        <div class="single_counter_item">
                                            <i class="icon icon-cup"></i>
                                            <h2 class="statistic-counter">178</h2>
                                            <h4 class="">ویژگی های شگفت انگیز</h4>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End off container -->
    </section>   <!-- End of counter section -->
   
    <!-- Team Section -->
    <section id="team" class="team">
        <div class="main_team_area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="head_title textwhite text-center margin-top-80">
                            <h2>تیم ما</h2>
                            <div class="subtitle">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            </div>
                            <div class="separator"></div>
                        </div><!-- End off Head_title -->

                        <div class="main_team">
                            <ul>
                                <li>
                                    <div class="single_team_img">
                                        <img src="/Site/assets/images/team1.jpg" alt="" />
                                    </div>
                                    <div class="single_team_text">
                                        <h4>سجاد باقرزاده</h4>
                                        <p>موسس</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img">
                                        <img src="/Site/assets/images/team2.jpg" alt="" />
                                    </div>
                                    <div class="single_team_text">
                                        <h4>ایمان مدائنی</h4>
                                        <p>مهندسی</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img">
                                        <img src="/Site/assets/images/team3.jpg" alt="" />
                                    </div>
                                    <div class="single_team_text">
                                        <h4>بهادر قدم خیر</h4>
                                        <p>توسعه دهنده وب</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img">
                                        <img src="/Site/assets/images/team4.jpg" alt="" />
                                    </div>
                                    <div class="single_team_text">
                                        <h4>سهیل علیزاده</h4>
                                        <p>بازاریابی</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="single_team_img">
                                        <img src="/Site/assets/images/test2.jpg" alt="" />
                                    </div>
                                    <div class="single_team_text">
                                        <h4>شیوا محمدی</h4>
                                        <p>طراح وب</p>
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div><!-- End of main team contant -->
                </div>
            </div><!-- End of container -->
        </div>
    </section><!-- End off Team Section -->
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <!-- Client Logo Section -->
    <section id="clogo" class="clogo">
        <div class="container">
            <div class="row">
                <div class="main_clogo sections text-center">
                    <div class="head_title text-center">
                        <h2>اشتراک گذاری با دیگران</h2>
                        <div class="subtitle">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </div>
                        <div class="separator"></div>
                    </div><!-- End off Head_title -->

                    <div class="col-sm-3 col-xs-6">
                        <a href=""><img src="/Site/assets/images/clogo1.png" alt="" /></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href=""><img src="/Site/assets/images/clogo2.png" alt="" /></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href=""><img src="/Site/assets/images/clogo3.png" alt="" /></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href=""><img src="/Site/assets/images/clogo4.png" alt="" /></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href=""><img src="/Site/assets/images/clogo5.png" alt="" /></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href=""><img src="/Site/assets/images/clogo6.png" alt="" /></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href=""><img src="/Site/assets/images/clogo9.png" alt="" /></a>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href=""><img src="/Site/assets/images/clogo8.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider"></div>
    </section><!-- End off clogo Section -->
   
    <section id="contact" class="contact">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact_contant sections">
                        <div class="head_title text-center">
                            <h2>باما در ارتباط باشید</h2>
                            <div class="subtitle">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            </div>
                            <div class="separator"></div>
                        </div><!-- End off Head_title -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="main_contact_info">
                                    <div class="row">
                                        <div class="contact_info_content padding-top-90 padding-bottom-60 p_l_r">
                                            <div class="col-sm-12">
                                                <div class="single_contact_info">
                                                    <div class="single_info_text">
                                                        <h3>آدرس ما</h3>
                                                        <h4>نرسیده به شریعتی خیابان ملک</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="single_contact_info">
                                                    <div class="single_info_text">
                                                        <h3>تماس با ما</h3>
                                                        <h4>+ 880 168 109 1425</h4>
                                                        <h4>+ 0216809142</h4>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="single_contact_info">
                                                    <div class="single_info_text">
                                                        <h3>ایمیل ما</h3>
                                                        <h4>contactus@email.com</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="single_contant_right padding-top-90 padding-bottom-90">
                                    <form action="/Home/SubmitMessage" id="formid" method="post">
                                        <div class="col-lg-8 col-md-8 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" asp-for="Message.Name" placeholder="نام" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" asp-for="Message.Email" placeholder="ایمیل" required="required">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" asp-for="Message.Phone" placeholder="شماره تماس" required="required">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" asp-for="Message.Subject" placeholder="موضوع" required="required">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" asp-for="Message.Text" rows="7" placeholder="پیام" required="required"></textarea>
                                            </div>
                                            <div class="">
                                                <input type="submit" value="ارسال پیام" class="btn btn-lg">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of contact section -->
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->
    <section id="trial" class="trial text-center wow fadeIn" data-wow-duration="2s" data-wow-dealy="1.5s">
        <div class="main_trial_area">
            <div class="video_overlay sections">
                <div class="container">
                    <div class="row">
                        <div class="main_trial">
                            <div class="col-sm-12">
                                <h2> بیایید شروع کنیم. <span> رایگان است! </span></h2>
                                <h4>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد</h4>
                                <a href="" class="btn btn-lg">اکنون شروع کن</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End of Trial section -->
    <!--Footer section-->
    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main_footer">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="flowus">
                                    <a href="https://facebook.com"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
                                    <a href="https://google.com"><i class="fa fa-google-plus"></i></a>
                                    <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
                                    <a href="https://youtube.com"><i class="fa fa-youtube"></i></a>
                                    <a href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End off footer Section-->
    <!--ترجمه شده توسط مرجع تخصصی برنامه نویسان-->

</div>